<header>
<p class="main__chapter is-size-7 is-uppercase">Kapitel {{ page.chapter }}</p>
<h1 class="title" id="{{ page.title | url_encode}}">{{ page.title }}</h1>
</header>

<div>
{{ page.content | markdownify }}
</div>

{% include effect-chains.html %}

{% include outcomes.html %}

{% if page.problem && page.website %}
<section>
  <div class="chapter__outcomes">
    <div class="columns chapter__item">
      <h3 class="column is-one-third">Website</h3>
      <div class="column is-two-thirds no-inner-margin">
        <a href="{{page.website}}">{{ page.website }}</a>
      </div>
    </div>
  </div>
</section>
{% endif %}
