{% assign frags = page.path | split: "/" %}
{% if frags.size == 2 %}
    <p class="main__chapter is-size-7 is-uppercase">Kapitel {{ page.chapter }}</p>
    <h1 class="title" id="{{ page.title | url_encode}}">{{ page.title }}</h1>
{% else %}
    {% if page.chapter %}
    <p class="main__chapter is-size-7 is-uppercase">Kapitel {{ page.chapter }}</p>
    {% endif %}
    <h2 class="{% if page.chapter %}title{% endif %}" id="{{ page.title | url_encode}}">{{page.title}}</h2>
{% endif %}

<div>
{{ page.content | markdownify }}
</div>

{% include effect-chains.html %}

{% include outcomes.html %}
