{% if page.effect %}
<section class="chapter">
  <h2>Was ist {{ site.mainpage.year }} passiert?</h2>

{% if page.resources %}
  <div class="chapter__resources">
    <h3>Resourcen</h3>

    {% for y in site.chapter.resources %}
      {% if page.resources[y.key] %}
        <div class="chapter__item">
          <h4>{{ y.label }}</h4>
          <img src="{{ page.resources[y.key].img }}"
               alt="{{ page.resources[y.key].alt }}">
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endif %}

  <div class="chapter__outcomes">
    {% for x in site.chapter.outcomes %}
      {% if page[x.key] %}
        <div class="columns chapter__item">
          <h3 class="column is-one-third">{{ x.label }}</h3>
          <div class="column is-two-thirds no-inner-margin">
            {{ page[x.key] | markdownify}}
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</section>
{% endif %}
