.effect__block
  margin-top: 5rem
  counter-reset: effects

.effect__chain
  list-style: none
  margin-left: 1rem
  $spacing: 0.3rem
  h4
    margin-bottom: $spacing
    display: inline-block
    &::before
      counter-increment: effects
      content: counter(effects)
      display: inline-block
      font-weight: 500
      margin-right: 1rem
  p
    padding-left: 1.2rem
    padding-bottom: 2em
    margin-left: 0.25em
    margin-bottom: $spacing !important

  p:not(.effect__claim)
    border-left: 1px solid $okf-grey-2
  li:last-of-type
    p
      border: none

  .effect__claim
    &::before
      content: "🔥"
      margin-right: 1rem
      margin-left: -1.6rem
      margin-right: 0.6rem
