body
  background-color: $okf-grey-1
main
  padding-left: $header-space-left

th
  font-weight: 500

.main__img
  padding-left: $column-gap
  padding-right: 0
  background-color: $okf-grey-1
  position: relative
  z-index: 1

.main + .main .main__chapter
  margin-top: 5rem

.main__img__vis
  @media (max-width: $tablet)
    width: 100%
  @media (min-width: $tablet)
    &:not(:first-of-type)
      margin-top: -2rem
    &:nth-of-type(odd)
      float: right

.main__img__vislist,
.main__img__img
  width: 100%
  @media (min-width: $tablet)
    width: 40%
    position: fixed

.main__copy__inner
  min-height: 100vh
  max-width: 40rem
  margin: auto
  //font-size: 1.2rem

.main__copy
  position: relative
  z-index: 2
  padding: 3rem 4em 0em 3em
  background-color: white
  font-size: 1.2rem

  div > p:first-of-type
    margin-bottom: 1rem

  .main__chapter
    margin-bottom: 1.5em
    font-weight: 500
    color: $okf-grey-3

  .title
    font-size: $size-2
    margin-bottom: 2rem

  h1, h2, h3, h4
    font-weight: 500
    margin-bottom: 0.8em
    color: $okf-font-1

  h2
    font-size: $size-4

  h3
    font-size: $size-5
    margin-top: 1.4em

  p, ul, ol
    color: $okf-font-2
  * + p
    margin-bottom: 1em

  strong
    font-weight: 500
    color: currentColor

  ul
    list-style: bullet
    list-style: disc outside
    margin: 1em 0
    padding-left: 2em

  hr
    margin: 3rem 0 3.5rem

.main__next
  text-align: center

.main__next__chapter
  margin: 1rem 0 0 0 !important
  color: $okf-grey-3 !important
  font-weight: 500

.main__next__link
  display: block
  color: $okf-font-1
  &:hover,
  &:active
    color: $okf-blue
    .icon-next-chapter
      transform: translateX(0.2em)

.main__next__license
  margin-bottom: 2.5rem

.icon-next-chapter
  transition: transform 200ms ease
