.chapter__outcomes
  .columns
    align-items: first baseline
    margin-bottom: 2rem
  h3
    font-size: 1rem
  ul
    padding-left: 0
    list-style: none
  li
    &:before
      content: "-"
      margin-right: .3em
.chapter__outcome
