---
---

@import "_fonts"

$okf-grey-1: #f4f4f4
$okf-grey-2: #e5e5e5
$okf-grey-3: #9d9d9d
$okf-font-1: #112233
$okf-font-2: #444f5a
$okf-blue: #1900d5

$header-space-left: 80px

// Update Bulma's global variables
$family-sans-serif: "Apercu", sans-serif
$light: $okf-grey-2
$text: $okf-font-1
$title-color: $okf-font-1
$title-weight: 500
$primary: $okf-blue
$link: $okf-blue
$size-1: 3.9rem
$footer-background-color: $okf-grey-2
$footer-padding: 3rem 2rem 1.5rem

// Update some of Bulma's component variables

//$input-border-color: transparent
$input-shadow: none

@import "_bulma-0.7.4/bulma"
@import "_a11y"
@import "_header"
@import "_helpers"
