---
layout: default
---

<section class="hero is-light is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="colums">
        <div class="column is-three-quarters-mobile is-two-thirds-tablet is-half-desktop">
          <h1 class="title is-spaced is-size-1">
            {{ site.title }}
          </h1>
          <h2 class="subtitle">
            {{ site.description }}
          </h2>
          {% if site.pub and site.pub.pdf %}
          <a href="{{ site.pub.pdf }}" class="button is-link is-uppercase">Download PDF \|/</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
<div>
  {% for page in site.content %}
  <section class="main columns">
    <div class="main__img column is-half">
    </div>
    <div class="main__copy column is-half">
      {% include chapters.html %}
    </div>
  </section>
  {% endfor %}
</div>
