---
layout: default
---

<article>
  <section class="main columns">
    <div class="main__img column is-half">
      {% if page.visual %}
      <img src="{{ page.visual.img}}"
           alt="{{ page.visual.alt }}"
           class="main__img__img">
      {% endif%}

      {% if page.visuals %}
      {% for vis in page.visuals %}
      <img src="{{ vis.img }}" alt="{{ vis.alt }}" class="main__img__vis">
      {% endfor %}
      {% endif %}
    </div>
    <div class="main__copy column is-half">
      <div class="main__copy__inner">
        {% include chapters.html %}
      </div>
      {% include next_chapter.html %}
    </div>
  </section>
</article>
